---
Language:        Cpp

BasedOnStyle: LLVM

AccessModifierOffset: -2
IndentWidth: 2
AlignConsecutiveAssignments: true
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: false
