---
Language:        Cpp

BasedOnStyle: LLVM

AccessModifierOffset: -4
IndentWidth: 4
AlignConsecutiveAssignments: true
BreakBeforeBraces: Stroustrup
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
IndentCaseLabels: false
